.magestore-bannerslider .magestore-bannerslide-livewise {
  width: 1280px;
  height: 640px;
  margin-bottom: 60px;
}
.magestore-bannerslider .magestore-bannerslide-livewise .bannerslide-livewise .slide {
  display: none;
  transition-property: margin, filter, opacity;
  transition-duration: 0.5s;
}
.magestore-bannerslider .magestore-bannerslide-livewise .bannerslide-livewise .slide.active,
.magestore-bannerslider .magestore-bannerslide-livewise .bannerslide-livewise .slide.inactive {
  display: block;
  position: absolute;
}
.magestore-bannerslider .magestore-bannerslide-livewise .bannerslide-livewise .slide.inactive a {
  display: none;
}
