.magestore-bannerslider .magestore-bannerslide-livewise {
  width: 100%;
  max-width: 100%;
  margin-bottom: 40px;
}
.magestore-bannerslider .magestore-bannerslide-livewise .bannerslide-livewise .slides-container .slide {
  display: none;
  transition-property: margin, filter, opacity;
  transition-duration: 0.4s;
}
.magestore-bannerslider .magestore-bannerslide-livewise .bannerslide-livewise .slides-container .slide .GSAP-canvas {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.magestore-bannerslider .magestore-bannerslide-livewise .bannerslide-livewise .slides-container .slide .GSAP-canvas .gsap-canvas-to-restore {
  display: none;
}
.magestore-bannerslider .magestore-bannerslide-livewise .bannerslide-livewise .slides-container .slide.active .GSAP-canvas {
  display: block;
}
.magestore-bannerslider .magestore-bannerslide-livewise .bannerslide-livewise .slides-container .slide.active,
.magestore-bannerslider .magestore-bannerslide-livewise .bannerslide-livewise .slides-container .slide.inactive {
  display: block;
  position: absolute;
}
.magestore-bannerslider .magestore-bannerslide-livewise .bannerslide-livewise .slides-container .slide.inactive {
  opacity: 0.45;
  filter: grayscale(0.15);
}
.magestore-bannerslider .magestore-bannerslide-livewise .bannerslide-livewise .slides-container .slide.inactive a {
  display: none;
}
